body {
  font-family: "Century Gothic", 'Lato', sans-serif;
  /* font-family: Austhind; */
  background-color: #0b0918;
  width: 99vw;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

body::-webkit-scrollbar {
  width: 12px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  position: absolute;
  background: #0b0918;
  /* color of the tracking area */
  /* box-shadow: 1px 0 50px #2b1c3b; */
}

body::-webkit-scrollbar-thumb {
  background-color: #eee;
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid #2b1c3b;
  /* creates padding around scroll thumb */
}

h1 {

  /* margin-top: 5vw; */
  font-size: 9vmin;
  margin-bottom: 3vh;
}

h2 {
  font-size: 2rem;
}

img {
  visibility: hidden;
}

iframe {
  box-shadow: 1px 0 50px #2b1c3b;
  border-radius: 3%;
}

canvas {
  position: relative;
  top: 0px;
  border-radius: 50vw;
  border: 2px solid rgb(255, 255, 255);
  box-shadow: 1px 0 50px #2b1c3b;
}

/*Main container css----------------------------------*/
.infobox {
  cursor: default;
  left: 7vw;
  line-height: 1;
  /* position: absolute; */
  text-align: center;
  /* transform: translateX(-50%); */
  user-select: none;
  position: relative;
  display: inline-block;
  height: fit-content;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 80vw;
}

.infobox>.main {
  box-shadow: 1px 0 50px #2b1c3b;
  /* display: block; */
  color: #f0f0f0;
  width: inherit;
  background-size: cover !important;
  background-position: center !important;
  height: 100%;
  padding: 1em 2em;
  background: rgb(7, 9, 15);
  border-radius: 10px;
}

.infobox>.main p {
  /* padding-top: 2em; */
  font-size: 1.2rem;
  /* line-height: 160%; */
  color: #999;
}

/* .infobox > .main a{
  color: #eee;
  text-decoration: none;
}

.infobox > .main a:hover{
  box-shadow: 1px 0 50px #2b1c3b;
} */

#sketch-holder1 {
  display: inline-block;
}




/*Flip box-------------------------------------------------*/

.flip {
  cursor: default;
  /* left: 7vw; */
  line-height: 1;
  /* position: absolute; */
  text-align: center;
  user-select: none;
  position: relative;
  display: inline-block;
  margin-right: 2px;
  margin-bottom: 1em;
  width: 80vw;
}

.flip>.front,
.flip>.back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.flip>.front {
  font-family: Austhind;
  box-shadow: 1px 0 50px #2b1c3b;
  transform: rotateY(0deg);
}


.flip img {
  visibility: visible;
  height: 80vh;
  width: 70vw;
  box-shadow: 1px 0 50px #2b1c3b;
  border: none;
  border-radius: 5%;
}

.flip>.back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

/* .flip:hover > .front {
       transform: rotateY(180deg);
  }
   .flip:hover > .back {
       opacity: 1;
       transform: rotateY(0deg);
  } */

.flip-box {
  transform: rotateY(180deg);
}

.reveal {
  opacity: 1;
  transform: rotateY(0deg);
}


.flip>.front,
.flip>.back {
  display: block;
  color: #f0f0f0;
  width: inherit;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 1em 2em;
  background: rgb(7, 9, 15);
  border-radius: 10px;
}

.flip>.front p,
.flip>.back p {
  /* padding-top: 2em; */
  font-size: 0.5rem;
  margin: 0;
  /* line-height: 160%; */
  color: #999;
}

.flip>.back a {
  color: #118a8a;
  position: relative;
  margin-top: 50%;
  text-decoration: none;
}




/*test*/
a {
  text-decoration: none;
}

.et-hero-tabs,
.et-slide {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(212, 208, 230);
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #eee;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  /* padding-left: 5vw; */
  left: 0;
  top: 0;
}

.et-hero-tab,
.et-hero-tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover,
.et-hero-tab-link:hover {
  color: white;
  background: #0b0918;
  box-shadow: 1px 0 50px #2b1c3b;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 5px;
  background: #261c69;
  box-shadow: 1px 0 10px #2b1c3b;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {

  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab,
  .et-hero-tab-link {
    font-size: 1rem;
  }
}