/* fonts  */
@import url('https://fonts.googleapis.com/css?family=Abel|Aguafina+Script|Artifika|Athiti|Condiment|Dosis|Droid+Serif|Farsan|Gurajada|Josefin+Sans|Lato|Lora|Merriweather|Noto+Serif|Open+Sans+Condensed:300|Playfair+Display|Rasa|Sahitya|Share+Tech|Text+Me+One|Titillium+Web');

/* body {
    background: #DFC2F2;
    background-image: linear-gradient(135deg, #0b0918 10%, #0e0831 100%);
    background-attachment: fixed;
    background-size: cover;
} */

body{
    font-family: "Century Gothic", 'Lato', sans-serif;
    background-color: #0b0918;
    color: white;
    /* letter-spacing: .2rem;
    margin:0;
    overflow: hidden; */
    /* perspective: 10000px; */
}
body::-webkit-scrollbar {
    width: 12px;
    /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
    position: absolute;
    background: #0b0918;
    /* color of the tracking area */
    /* box-shadow: 1px 0 50px #2b1c3b; */
}

body::-webkit-scrollbar-thumb {
    background-color: #eee;
    /* color of the scroll thumb */
    border-radius: 20px;
    /* roundness of the scroll thumb */
    border: 3px solid #2b1c3b;
    /* creates padding around scroll thumb */
}

#container a{
    color: #118a8a;
    position: relative;
    margin-top: 50%;
    text-decoration: none;
}

.starfield {
    align-self: start;
    width: 2px;
    height: 2px;
    background-color: #fff;
    border-radius: 50%;
  }

#container {
    /* box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31); */
    box-shadow: 1px 0 50px #2b1c3b;
    color: #f0f0f0;
    background: rgb(7,9,15);
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
    margin: 5em auto;
    height: auto;
    width: 70vw;
    transition: all 0.3s ease-out;
}

#container:hover{
    transition: all 0.3s ease-out;
    box-shadow: 2px 0 55px #412a5a;
}



/* 	Product details  */
.product-details {
    position: relative;
    overflow: hidden;
    padding: 30px;
    height: 100%;
    float: left;
    width: 40%;

}

/* 	Product Name */
#container .product-details h1 {
    font-family: 'Century Gothic', 'Lato', sans-serif;
    display: inline-block;
    position: relative;
    font-size: 5vmin;
    color: white;
    margin-top: 0.8em;

}

/* The most important information about the product */
#container .product-details>p {
    /* padding-top: 1.5em; */
    margin-bottom: 2em;
    text-align: center;
    font-size: 1.3rem;
    line-height: 160%;
    color: #999;

}


/* product image  */
.product-image {
    transition: all 0.3s ease-out;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    width: 48%;
}

#container img {
    transition: all 0.3s ease-out;
    width: 100%;
    height: 50%;
}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor:auto;
    user-select: none;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {
    text-align: center
}

.product-image:hover .info {
    transform: translateX(0);
}

.info ul li {
    transition: 0.3s ease;
}

.info ul li:hover {
    transform: translateX(50px) scale(1.3);
}

.product-image:hover img {
    transition: all 0.3s ease-out;
}

.product-image:hover img {
    transform: scale(1.2, 1.2);
}

/* Navigation bar */
.et-hero-tabs a{
    text-decoration: none;
}

.et-hero-tabs,
.et-slide {
  position: relative;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 0;
  background: rgb(212, 208, 230);
  text-align: center;
  padding: 0 2em;
}

.et-hero-tabs h1,
.et-slide h1 {
  font-size: 2rem;
  margin: 0;
  letter-spacing: 1rem;
}

.et-hero-tabs h3,
.et-slide h3 {
  font-size: 1rem;
  letter-spacing: 0.3rem;
  opacity: 0.6;
}

.et-hero-tabs-container {
  display: flex;
  flex-direction: row;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 70px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background: #eee;
  z-index: 10;
}

.et-hero-tabs-container--top {
  position: fixed;
  /* padding-left: 5vw; */
  left: 0;
  top: 0;
}

.et-hero-tab,
.et-hero-tab-link {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  color: #000;
  letter-spacing: 0.1rem;
  transition: all 0.5s ease;
  font-size: 0.8rem;
}

.et-hero-tab:hover,
.et-hero-tab-link:hover {
  color: white;
  background: #0b0918;
  box-shadow: 1px 0 50px #2b1c3b;
  transition: all 0.5s ease;
}

.et-hero-tab-slider {
  left: 0;
  position: absolute;
  bottom: 0;
  width: 0;
  height: 5px;
  background: #261c69;
  box-shadow: 1px 0 10px #2b1c3b;
  transition: left 0.3s ease;
}

@media (min-width: 800px) {

  .et-hero-tabs h1,
  .et-slide h1 {
    font-size: 3rem;
  }

  .et-hero-tabs h3,
  .et-slide h3 {
    font-size: 1rem;
  }

  .et-hero-tab,
  .et-hero-tab-link {
    font-size: 1rem;
  }
}